*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
}


/* navbar */

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell;
    height: 69px;  
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 1;
    width: 100%; 
    background-color: black;   
}

.nav-bar img{
    margin-left: 10px;
    width:auto;
    height:50px;
}   

.nav-item li{
    display: inline-flex;
    color: seashell;
    text-decoration: underline;
}
.nav-item> li + li {
    padding-left:20px;
}



/* missiom */

.row-mission{
    position: relative;
    top: 69px;
    margin:auto;   
    width: 1200px;
    height: 700px;
    text-align: center;
    background-image: url(../images/img-mission-background.jpeg);
    
}
.mission-content{
    position: absolute;
    background-color: black;
    text-align: center; 
    top:50%;
    width: 100%;
}
.mission-content>h2,h4{
    margin:20px auto;
}

/* tea of the month */

.teamonth{
    text-align: center;
    width: 1000px;
    margin: 5rem auto 0 auto;
}
.card{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: auto 10px;
    flex-wrap: wrap;
}
.card-content img{
    width:300px;
    height: 200px;
    padding: 10px;
}
.card-content h4{
    margin-top: 0;
}

/* location */

.location{
    display: block;
    text-align: center; 
    width: 1200px;
    height: 500px;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    background-image: url(../images/img-locations-background.jpeg);
}

.location-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.location-card>.location-content + .location-content{
    margin-left: 20px;
}
.location-content{
    width:300px;
    height: 300px;
    margin-top: 15px;
    background-color: black;
}
.location>h2{
padding-top: 20px;
}

.location-content>div>h3,h5{
    margin:40px auto;
}

/* contact */

.row-contact{
    margin-top: 10px;
    text-align: center;
    height: 200px;
}

/* footer */
footer{
    position: relative;
}
footer h6{
    position: relative;
    text-align: left;
    margin-left: 20px;
}

